<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="6.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Fody" version="6.9.3" targetFramework="net48" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Ookii.Dialogs.Wpf" version="5.0.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="TaskScheduler" version="2.12.2" targetFramework="net48" />
  <package id="WPF-UI" version="4.1.0" targetFramework="net48" />
  <package id="WPF-UI.Abstractions" version="4.1.0" targetFramework="net48" />
  <package id="XamlRadialProgressBar" version="1.0.3" targetFramework="net48" />
</packages>